*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
} 
.container{
    height: 100%;
}

.heroimg{
background: linear-gradient(0deg, rgba(251, 193, 179, 0.29), rgba(251, 193, 179, 0.29)),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    width:100vw;
    height:100vh;
    
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: "Poppins", sans-serif;
    color: #444444;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.section-products {
    padding: 80px 0 54px;
    background-color: linear-gradient(0deg, rgba(251, 193, 179, 0.29), rgba(251, 193, 179, 0.29)),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444; 
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
        background-color: linear-gradient(0deg, rgba(251, 193, 179, 0.29), rgba(251, 193, 179, 0.29)),
        linear-gradient(0deg, #FFFFFF, #FFFFFF);;
}

/*PRODUCTO 1*/
.section-products #product-1 .part-1::before {
    background: url("esculpida1.png") no-repeat center;
    background-size: cover;
}

/*PRODUCTO 2*/
.section-products #product-2 .part-1::before {
    background: url("esculpida1.png") no-repeat center;
    background-size: cover;
}

/*PRODUCTO 3*/
.section-products #product-3 .part-1::before {
    background: url("esculpida1.png") no-repeat center;
    background-size: cover;
}

/*PRODUCTO 4*/
.section-products #product-4 .part-1::before {
    background: url("/img/esmaltadoSemi4.1.jpg") no-repeat center;
    background-size: cover;
    transition: 0.3s;
}

.section-products #product-4 .part-1:hover {
    background: url("/img/esmaltadoSemi4.2.jpg") no-repeat center;
    background-size: cover;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #FBC1B3;
    background-color: #FBC1B3;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}


.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}

.loader {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.logo{
    width: 200px;
    height: auto;
}

.carousel-caption {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
  }
  
  .carousel-caption h1 {
    font-weight: bold;
  }

  .carousel-text{
    font-size: 70px;
    display: none;
  }
  
  .carousel-caption button {
    font-size: 150%;
    padding: 10px 30px;
    border-radius: 100px;
    margin-top: 5%;
  }
  
.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 100px;
    z-index: 2;
}


  
/*INICIO*/

body {
    background-color: #f9f9fa
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem;
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem;
    }
}

.padding {
    padding: 5rem;
}

#page-content{
    margin-bottom: 0px;
}
.card {
    background: #fff;
    border-width: 0;
    border-radius: .25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
    margin-bottom: 1.5rem
}

.card-header {
    background-color: transparent;
    border-color: rgba(160, 175, 185, .15);
    background-clip: padding-box
}

.card-body p:last-child {
    margin-bottom: 0
}

.card-hide-body .card-body {
    display: none

}


.media {
    position: relative;
    display: block;
    padding: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: inherit
}

.media:after {
    content: '';
    display: block;
    padding-top: 100%
}

.media:not(:first-child):not(:last-child):not(:only-child) {
    border-radius: 0
}

.media-circle .media {
    border-radius: 500px
}

.media-circle .media .media-content:before {
    width: 50%;
    left: 25%
}

.media-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem 1rem;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff
}

.media-overlay.overlay-top {
    bottom: auto
}

.media-overlay.overlay-bottom {
    top: auto
}

.media-action {
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.media-action.active {
    opacity: 1
}

.media-action.media-action-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    color: #fff;
    padding: 0 5%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    border-radius: inherit
}

.media-action.media-action-overlay .btn {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    color: inherit
}

.active>.media .media-action,
.list-item:active .media-action,
.list-item:hover .media-action,
.media:active .media-action,
.media:hover .media-action {
    opacity: 1;
    pointer-events: initial
}

.media iframe,
.media-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    border-radius: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: rgba(120, 120, 120, .1);
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.media-content:before {
    content: '';
    position: absolute;
    height: 10%;
    width: 90%;
    left: 5%;
    bottom: 0;
    background: inherit;
    background-position-y: 100%;
    filter: blur(10px)
}

.circle .media-content:before {
    width: 40%;
    left: 30%
}

.media-21x9:after {
    padding-top: 42.857143%
}

.media-16x9:after {
    padding-top: 56.25%
}

.media-4x3:after {
    padding-top: 75%
}

.media-2x3:after {
    padding-top: 150%
}

.media-3x4:after {
    padding-top: 133.33333%
}

.media-1x2:after {
    padding-top: 200%
}

.media-2x1:after {
    padding-top: 50%
}

.media-3x1:after {
    padding-top: 33%
}

.media-4x1:after {
    padding-top: 25%
}

.media-1-4:after {
    padding-top: 25vh;
    min-height: 10rem
}

.media-1-3:after {
    padding-top: 33vh;
    min-height: 12.5rem
}

.gd-primary {
    color: #fff;
    border: none;
    background: #448bff linear-gradient(45deg,#448bff,#44e9ff);
}

.services-text{
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.btn-whatsapp {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
 }


 .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:40px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

.footer-container{
    position: relative;
}

.footer-map{
    width: 80%;
    height: auto;
}


@media (max-width: 1200px) {
    .card-title {
        font-size: 1em;
    }

    .card-text{
        font-size: 0.9em; 
    }
    .carousel-caption button {
        font-size: 130%;
        padding: 10px 30px;
        border-radius: 100px;
        margin-top: 5%;
      }


}


@media (max-width: 767.98px) {
    .carousel-caption button {
        font-size: 100%;
        padding: 8px 20px;
        border-radius: 100px;
        margin-top: 5%;
      }
}


@media (max-width: 575.98px) {
    .carousel-text{
        font-size: 17px;
        display: block;
    }

    .padding{
        padding: 40px;
    }

    .carousel-caption button {
        font-size: 50%;
        padding: 5px 15px;
        border-radius: 100px;
        margin-top: 5%;
      }

}


@media (max-width: 380.98px) {
    .carousel-text{
        font-size: 15px;
        display: block;
    }

    .padding{
        padding: 40px;
    }

    .carousel-caption button {
        font-size: 60%;
        padding: 2px 10px;
        border-radius: 100px;
        margin-top: 0px;
      }

}

@media (max-width: 296.98px) {
    .carousel-text{
        font-size: 12px;
        display: block;
    }

    .padding{
        padding: 40px;
    }

    .carousel-caption button {
        font-size: 40%;
        padding: 2px 10px;
        border-radius: 100px;
        margin-top: -20%;
      }

}